#main {
    font-family: "Regular Libre Baskerville", serif;
}

html {
    background-color: black;
}

* {
    color: white;
}

img {
    border-color: white;
    height: 400px;
    width: 400px;
    border: 5px solid;
}

div {
    margin-left: 25%;
    width: 50%;
    text-align: center;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
}